.bienvenida {
    font-size: 8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(10, 35, 228);
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    text-align: center;
    border: 2px solid rgb(155, 142, 6);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(36, 5, 5);
    border: 2px solid rgb(48, 210, 170);
    box-shadow: 2px 2px 10px 0 rgb(2, 2, 2);
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    top: 25%;
    left: 30%;
}

.cat {
    justify-content: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    color: rgb(10, 35, 228);
    text-align: center;
    border: 2px solid rgb(48, 210, 170);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(36, 5, 5);
    box-shadow: 2px 2px 10px 0 rgb(2, 2, 2);
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    top: 25%;
    left: 30%;
}

.bagatelas {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    text-align: center;
    color: rgb(10, 35, 228);
    border: 2px solid rgb(48, 210, 170);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(36, 5, 5);
    box-shadow: 2px 2px 10px 0 rgb(2, 2, 2);
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    top: 25%;
    left: 30%;
}